<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= title %></title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- Favicons -->
  <link href="/start/img/TA.png" rel="icon">
  <link href="/start/img/TA.png" rel="TA">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/end/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/end/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/end/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/end/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/end/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/end/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">
      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/dashboard"><span>Tech-Aware Blog</span></a></h1>
      </div>
      
    </div>
  </header>
  <!-- End Header -->

  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card border-primary">
            <div class="card-body">
              <h1 class="card-title"><%= title %></h1>
              <p>By <strong><%= author %></strong></p>
              <p> <%= date %> </p>
              <p class="card-text"><%= content %></p>

            </div>
          </div>
        </div>
      </div>
    </div>


  </section>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Tech-Aware</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Ankit Jangir</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a> -->

  <!-- Vendor JS Files -->
  <script src="/end/vendor/aos/aos.js"></script>
  <script src="https://kit.fontawesome.com/d61d03c88e.js" crossorigin="anonymous"></script>
  <script src="/end/vendor/jquery/jquery.min.js"></script>
  <script src="/end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/end/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/end/vendor/php-email-form/validate.js"></script>
  <script src="/end/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/end/vendor/venobox/venobox.min.js"></script>
  <script src="/end/vendor/owl.carousel/owl.carousel.min.js"></script>


  <!-- Template Main JS File -->
  <script src="/end/js/main.js"></script>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ed644c8bd0e8d55"></script>

</body>

</html>
